services:
  mariadb:
    build:
      context: ./requirements/mariadb
    container_name: mariadb
    restart: always
    expose:
      - "3306"
    volumes:
      - mysql:/var/lib/mysql
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
    secrets:
      - db_password
      - db_root_password
    networks:
      - inception
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    build: 
      context: ./requirements/wordpress
    container_name: wordpress
    restart: always
    expose:
      - "${WP_PORT}"
    volumes:
      - wp-data:/var/www/wordpress
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      WP_DB_HOST: ${WP_DB_HOST}
      WP_URL: ${WP_URL}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER: ${WP_USER}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password
    networks:
      - inception

  nginx:
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    build:
      context: ./requirements/nginx
    container_name: nginx
    ports: 
      - "${ENTRY_PORT}:443"
    volumes:
      - wp-data:/var/www/wordpress:ro
    depends_on:
      - wordpress
    networks:
      - inception

networks:
    inception:
      driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt

volumes:
  mysql:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/fleite-j/data/mysql'
  wp-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/fleite-j/data/wordpress'
  